.sidebar {
  width: 250px;
  min-width: 250px;
  padding: 20px;
  /*margin: 20px auto 0 auto;*/
  /*box-shadow: 0 0 6px hsl(210 14% 90%);*/
}

.link {
  display: flex;
  cursor: pointer;
  border-radius: 30px;
  color: black;
}
.link:hover {
  background-color: #e8f5fe;
  color: #50b7f5;
  transition: color 100ms ease-out;
}
.link > h2 {
  font-size: 20px;
  margin-right: 20px;
}

.link > .MuiSvgIcon-root {
  padding: 20px;
}

.activeLink {
  font-style: italic;
}

.body {
  padding: 20px 20px;
  /*margin: 20px auto 0 auto;*/
  /*margin-left: 10px;*/

}